<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <sessionState mode="InProc" timeout="20" ></sessionState>
      <pages buffer="true"/>
      <customErrors>
        <error statusCode="408" redirect="req.aspx"/>
      </customErrors>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
